:root {
    --dark-green: #9cc675;
    --dark-yellow: #e89a3d;
    --extra-light-brown: #fdf0d7;
    --light-brown: #ecd5ab;
    --dark-brown: #915b40;
    --light-yellow: #f8e3a8;
    --light-red: #f3ac99;
    --light-teal: #a6c8cc;
    --light-gray: #ddd5d6;
    --theme-color: #e89a3d;
  }
  body {
    font-family: "Lato", sans-serif !important;
    
    background-color: #000744;
  }
  .short a:hover {
    color: var(--theme-color);
  }
  
  .resmue-container {
    border: 1px solid #00124d;
    width: 1000px;
    margin: 100px auto;
    padding: 0;
    padding: 15px;
    position: relative;
  }
  aside,
  main {
    padding: 15px;
    border-radius: 10px;
  }
  .resmue-container aside {
    flex-grow: 1;
    background: #ffffff;
    flex-basis: 50%;
  }
  .resmue-container main {
    flex-grow: 10;
    background: #ffffff;
    margin-left: 1%;
  }
  .porfile-pic {
    --size: 180px;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    background: var(--light-brown);
  }
  .text-center {
    text-align: center;
  }
  .text-muted {
    color: #0a0a0a;
  }
  .line-title {
    position: relative;
    border-bottom: 1px solid #f7f6f6;
    padding-bottom: 15px;
  }
  
  .line-title:before {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--theme-color);
    position: absolute;
    bottom: -1px;
  }
  .line-title.center {
    text-align: center;
  }
  
  .line-title.center:before {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .short {
    text-align: right;
    /* flex-basis: 30%; */
    /* flex-grow: 1; */
    margin-right: 40px;
    width: 20%;
    float: left;
  }
  .short p {
    color: #ffffff;
    margin-top: -10px;
    font-size: 14px;
  }
  .full a {
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    color: #ffffff;
  }
  .read {
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 4px;
  }
  
  .flex-group {
    display: flex;
  }
  .flex-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .flex-group .full {
    width: 74%;
    float: left;
  }
  section {
    padding: 25px 0;
  }
  nav {
    position: absolute;
    top: -50px;
    left: -20px;
  }
  nav a {
    padding: 7px 10px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ddd;
    margin-left: 22px;
    border-radius: 3px;
    color: #333;
  }
  .short a {
    text-decoration: none;
    font-size: 17px;
    color: #333;
  }
  hr {
    background-color: #ddd;
    height: 1px;
    border: 0;
  }
  
  @media print {
    nav {
      display: none !important;
    }
  }
  
  .skill-list li {
    list-style: square;
    padding: 10px 0;
    color: #636363;
    font-size: 17px;
  }